body{
    display:flex;
    justify-content:center;
    font-style:arial;
    
    background-color:Green;
}
nav{
    display:flex;
    justify-content:center;
    height:50px;
    width:50px;
    margin:auto;
    padding:10px;
}
#container{
    box-sizing:border-box;
    width:1018px;
    border:1px solid black;
    padding:7px;
    font-style:arial;
    
    background-color:purple;
}
canvas{
    border: 1px solid black;
    box-sizing:border-box;
}
.computer{
    margin-left:160px;


}
#coke{
    padding:10px;
    margin-right:50px;
}
#dr{
    padding:10px;
}
#pep{
    padding:10px;
    margin-left:50px;
    text-shadow:2px 2px 6px;
    
}
.player{
    margin-left:160px;
}

p{
    color:black;
    font-size:24px;
    height:90px;
    width:90px;
    margin:auto;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:10px;   
}
h2{
    text-align:center;
    font-style:Arial;
    font-size:36px;
    font-weight:bold;
}