body{
    background-image: url(images/e.PNG)
}

#game {
    
    
    width:800px;
    margin:auto;
    background-image:url(images/background.jpg);
}
#container {
    height:700px;
    width:960px;
    margin:auto;

}
#header {
    width:800px;
    border: 1px solid black;
    margin:auto;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    background-color:aqua;
}
#footer{
    width:800px;
    border: 1px solid black;
    margin:auto;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    background-color:aqua;
    
}
